In [1]:
import json 
import pandas as pd

In [2]:
TARGET_JSON_FILE = "../news_datasets/manual_labeling_20.json"
FINAL_CSV_FILE = "../news_datasets/test_20_labeled.csv"

In [3]:
with open(TARGET_JSON_FILE, 'r', encoding='utf-8') as f:
            manual_data = json.load(f)

In [4]:
df = pd.DataFrame(manual_data)

In [5]:
df.head()

,Title,Authors,Date Published,Full Text,category
0,This article is more than 7 months oldYoung h...,['Jordyn Beazley'],2023-05-22,"Up to 50,000 whales expected to pass Australia...",BIODIVERSITY AND ECOSYSTEMS
1,"Vanuatu, one of the most climate-vulnerable c...","['Supported by', 'About this content', 'Lagipo...",2022-08-14,The Pacific country has committed to 100% rene...,ENERGY AND TRANSITION
2,‘Apocalyptic skies’: the dust storms devastati...,['Richa Syal'],2022-06-05,Rising frequency of storms due to climate cris...,CLIMATE AND EMISSIONS
3,Why rising seas will force coastal residents ...,"['Emily Holden', ' in Washington']",2019-10-02,In the fourth part of our series looking at th...,SOCIO-ECONOMIC IMPACT
4,"‘Show us the money,’ environment groups say a...",['Lisa Cox'],2022-10-04,Advocates deride $224.5m funding pledge given ...,POLICIES AND REGULATION

In [6]:
df = df.rename(columns={'category': 'llm_category'})

In [7]:
df.head()

,Title,Authors,Date Published,Full Text,llm_category
0,This article is more than 7 months oldYoung h...,['Jordyn Beazley'],2023-05-22,"Up to 50,000 whales expected to pass Australia...",BIODIVERSITY AND ECOSYSTEMS
1,"Vanuatu, one of the most climate-vulnerable c...","['Supported by', 'About this content', 'Lagipo...",2022-08-14,The Pacific country has committed to 100% rene...,ENERGY AND TRANSITION
2,‘Apocalyptic skies’: the dust storms devastati...,['Richa Syal'],2022-06-05,Rising frequency of storms due to climate cris...,CLIMATE AND EMISSIONS
3,Why rising seas will force coastal residents ...,"['Emily Holden', ' in Washington']",2019-10-02,In the fourth part of our series looking at th...,SOCIO-ECONOMIC IMPACT
4,"‘Show us the money,’ environment groups say a...",['Lisa Cox'],2022-10-04,Advocates deride $224.5m funding pledge given ...,POLICIES AND REGULATION

In [8]:
df.to_csv(FINAL_CSV_FILE, index=False)